<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Create Teacher Form" [options]="false">
      <form>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Department Name">
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Department Name">
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Department Name">
              </mat-form-field>
            </div>
          </div>


          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Department Name">
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Department Name">
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Department Name">
              </mat-form-field>
            </div>
          </div>



          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Department Name">
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Department Name">
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Department Name">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6"><button mat-raised-button color="accent" class="button">Cancel</button>
              <button mat-raised-button color="primary">Save</button>
            </div>

          </div>

        </div>
      </form>

    </app-card>
  </div>
</div>