<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="User List" [options]="false">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter text search" (keyup)="filterchange($event)" />
      </mat-form-field>
      <table matSort mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FName </th>
          <td mat-cell *matCellDef="let element"> {{ element.firstname }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> LName </th>
          <td mat-cell *matCellDef="let element"> {{ element.lastname }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
          <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="mobileno">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> MobileNo </th>
          <td mat-cell *matCellDef="let element"> {{ element.mobileno }} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
          <td mat-cell *matCellDef="let element"> {{ element.role }} </td>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="openpoup()"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="accent"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </app-card>
  </div>
</div>
<div class="spinner-container" *ngIf="loading">

  <mat-spinner></mat-spinner>

</div>
