<form [formGroup]="forms" (ngSubmit)="onSubmit()">
  <mat-toolbar color="primary">
    <h1>{{inputdata.title}}</h1>
  </mat-toolbar>
  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Title" #title formControlName="title" name="title">
      <mat-hint align="end">
        {{title.value.length}} / 20
      </mat-hint>
      <mat-error *ngIf="gettitle.errors?.required">
        Title is required.
      </mat-error>
      <mat-error *ngIf="gettitle.errors?.minlength">
        A minimum length of 5 characters is required.
      </mat-error>
      <mat-error *ngIf="gettitle.errors?.maxlength">
        A maximum length of 20 characters is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Description" #description formControlName="longdescription" name="longdescription">

      <mat-hint align="end">
        {{description.value.length}} / 100
      </mat-hint>
      <mat-error *ngIf="getdescription.errors?.required">
        Description is required.
      </mat-error>
      <mat-error *ngIf="getdescription.errors?.minlength">
        A minimum length of 2 characters is required.
      </mat-error>
      <mat-error *ngIf="getdescription.errors?.maxlength">
        A maximum length of 100 characters is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Duration"  #duration formControlName="duration" name="duration">
      <mat-hint align="end">HH:MM</mat-hint>
      <mat-error *ngIf="forms.controls['duration'].hasError('pattern') && forms.controls['duration'].touched">
        Format(00:00)</mat-error>
    </mat-form-field>

    <mat-card-actions align="end">
      <button mat-raised-button color="accent" class="button" matDialogClose>Cancel</button>
      <button mat-raised-button color="primary">Save</button>
    </mat-card-actions>
  </mat-dialog-content>
</form>
