.example-full-width {
  width: 100%;
}
.button{
  margin: 2px;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}




//  th, td {
//   overflow: hidden;
//   width: 100px;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }


