<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Create User" [options]="false">
      <form [formGroup]="usersForms" (ngSubmit)="submit()">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-label>Firt Name</mat-label>
              <input matInput formControlName="firstname" name="firstname" #firstname>
              <mat-hint align="end">
                {{firstname.value.length}} / 20
              </mat-hint>
              <mat-error *ngIf="fname.errors?.required">
                First name is required.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastname" name="lastname" #lastname>
              <mat-hint align="end">
                {{lastname.value.length}} / 20
              </mat-hint>
              <mat-error *ngIf="lname.errors?.required">
                Last name is required.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-label>User Name</mat-label>
              <input matInput formControlName="username" name="username">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput required formControlName="email" #email>
              <mat-hint align="end">
                {{email.value.length}} / 200
              </mat-hint>
              <mat-error *ngIf="getemail.errors?.maxlength">
                A maximum length upto 200 characters.
              </mat-error>
              <mat-error
                *ngIf="usersForms.controls['email'].hasError('required') && usersForms.controls['email'].touched">
                Email is required</mat-error>
              <mat-error
                *ngIf="usersForms.controls['email'].hasError('pattern') && usersForms.controls['email'].touched">
                Email is not valid !</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput required formControlName="password" name="password">
              <mat-hint align="start">Choose a password of at least eight characters, one uppercase letter and one number one spacial
                character</mat-hint>
              <mat-error *ngIf="!usersForms.controls['password'].valid && usersForms.controls['password'].touched">
                {{ getErrorPassword() }}
              </mat-error>
              <mat-error
                *ngIf="usersForms.controls['password'].hasError('required') && usersForms.controls['password'].touched">
                Password is required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-label>Role</mat-label>
              <mat-select formControlName="roles">
                <mat-option value="Admin">Admin</mat-option>
                <mat-option value="User">User</mat-option>
                <mat-option value="Staff">Staff</mat-option>
              </mat-select>
              <mat-error
                *ngIf="usersForms.controls['roles'].hasError('required') && usersForms.controls['roles'].touched">
                Role is required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button mat-raised-button>Cancel</button>
            <button mat-flat-button color="primary">Register</button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>
