<div class="auth-wrapper">
  <div class="auth-content">

    <div class="row align-items-center text-center">
      <div class="col-md-12 main-div">
        <mat-card>
          <form [formGroup]="loginForm" (ngSubmit)="submit()" class="login-form">
            <mat-toolbar color="primary">
              <h1>Log In</h1>
            </mat-toolbar>
            <mat-form-field appearance="fill" class="example-full-width">
              <input matInput placeholder="User Email" formControlName="Username" name="Username">
              <mat-icon matSuffix>supervised_user_circle</mat-icon>
              <!-- <mat-error *ngIf="!loginForm.controls['Username'].valid && loginForm.controls['Username'].touched">
                {{ getErrorUserName() }}
              </mat-error> -->
              <mat-error
                *ngIf="loginForm.controls['Username'].hasError('maxlength') && loginForm.controls['Username'].touched">
                Max length 15 characters</mat-error>
              <mat-error
                *ngIf="loginForm.controls['Username'].hasError('minlength') && loginForm.controls['Username'].touched">
                Min length 8 characters</mat-error>

            </mat-form-field>
            <mat-form-field appearance="fill" class="example-full-width">
              <input type="text" matInput placeholder="User Password" formControlName="Password"  name="Password">
              <mat-icon matSuffix>vpn_key</mat-icon>
              <!-- <mat-error *ngIf="!loginForm.controls['Password'].valid && loginForm.controls['Password'].touched">
                {{ getErrorPassword() }}
              </mat-error> -->
              <mat-error
                *ngIf="loginForm.controls['Password'].hasError('maxlength') && loginForm.controls['Password'].touched">
                Max length 15 characters</mat-error>
              <mat-error
                *ngIf="loginForm.controls['Password'].hasError('minlength') && loginForm.controls['Password'].touched">
                Min length 8 characters</mat-error>
            </mat-form-field>
            <br><br>
            <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
          </form>
        </mat-card>



        <!-- <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
              <h4 class="mb-3 f-w-400">SignIn</h4>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="feather icon-mail"></i></span>
                <input type="text" formControlName="Username" class="form-control" placeholder="User name"
                  aria-label="Username" name="Username" aria-describedby="basic-addon1" />
              </div>
              <div *ngIf="f['Username'].touched && f['Username'].invalid" class="alert alert-danger">
                <span *ngIf="f['Username'].errors && f['Username'].errors['required']">User name is required.</span>
                <span *ngIf="f['Username'].errors && f['Username'].errors['minlength']">Name should be 6
                  character.</span>
                <span *ngIf="f['Username'].errors && f['Username'].errors['maxlength']">Name should be 20
                  character.</span>
              </div>
              <div class="input-group mb-4">
                <span class="input-group-text" id="basic-addon3"><i class="feather icon-lock"></i></span>
                <input type="password" formControlName="Password" class="form-control" placeholder="Password"
                  aria-label="Password" name="Password" aria-describedby="basic-addon3" />
              </div>
              <div *ngIf="f['Password'].touched && f['Password'].invalid" class="alert alert-danger">
                <span *ngIf="f['Password'].errors && f['Password'].errors['required']">Password is required.</span>
                <span *ngIf="f['Password'].errors && f['Password'].errors['minlength']">Name should be 6
                  character.</span>
                <span *ngIf="f['Password'].errors && f['Password'].errors['maxlength']">Name should be 20
                  character.</span>
              </div>
              <div class="form-group text-start mt-2">
                <div class="checkbox checkbox-primary d-inline">
                  <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="" />
                  <label for="checkbox-fill-a1" class="cr"> Save credentials</label>
                </div>
              </div>
              <div class="d-grid">
                <button class="btn btn-block btn-primary mb-4" [disabled]="loginForm.invalid">SignIn</button>
              </div>
              <p class="mb-2 text-muted">Forgot password? <a href="javascriprt:" class="f-w-400">Reset</a></p>
              <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/auth/signup']"
                  class="f-w-400">Signup</a></p>
            </form>
          </div> -->
      </div>
    </div>

  </div>
</div>
