<div class="row">
  <div class="col-sm-12">
    <div class="spinner-container" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
    <app-card cardTitle="Registration List" [options]="false">
      <table matSort mat-table [dataSource]="dataSource" matSortDisableClear matSortActive="id" matSortDirection="asc">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="registrationno">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Reg.No </th>
          <td mat-cell *matCellDef="let element"> {{ element.registrationno }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="fullname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{ element.fullname }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="registrationdate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Reg.Date </th>
          <td mat-cell *matCellDef="let element"> {{ element.registrationdate | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="mobileno">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
          <td mat-cell *matCellDef="let element"> {{ element.mobileno }} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="isstatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Admission </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="accent">
              {{element.isstatus==='true'?'Completed':'Pending'}}
            </button>
          </td>
        </ng-container>

        <!-- Name Column -->
        <!-- <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
          <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
        </ng-container> -->

        <!-- action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" class="button"
              (click)="edit(element.id)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="accent" (click)="deleted(element.id)"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSize]="3" [pageSizeOptions]="[3,5, 10, 20]" showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </app-card>
  </div>
</div>
