<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Department" [options]="false">
      <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
        <div class="col-lg-12">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Department Name" #department formControlName="departmentname"
              name="departmentname">

            <mat-hint align="end">
              {{department.value.length}} / 20
            </mat-hint>
            <mat-error *ngIf="departmentName.errors?.required">
              Department is required.
            </mat-error>
            <mat-error *ngIf="departmentName.errors?.minlength">
              A minimum length of 5 characters is required.
            </mat-error>
            <mat-error *ngIf="departmentName.errors?.maxlength">
              A maximum length of 20 characters is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Description" #description formControlName="description"
              name="description"></textarea>

            <mat-hint align="end">
              {{description.value.length}} / 100
            </mat-hint>
            <mat-error *ngIf="descriptionName.errors?.required">
              Description is required.
            </mat-error>
            <mat-error *ngIf="descriptionName.errors?.minlength">
              A minimum length of 2 characters is required.
            </mat-error>
            <mat-error *ngIf="descriptionName.errors?.maxlength">
              A maximum length of 100 characters is required.
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="accent" class="button">Cancel</button>
          <button mat-raised-button color="primary">Save</button>

        </div>
      </form>
    </app-card>
  </div>
</div>
