<div class="row">
  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Create Class" [options]="false">
      <div class="row">
        <div class="col-md-5">
          <app-create-class></app-create-class>
        </div>
        <div class="col-md-7">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter text search" (keyup)="filterchange($event)" />
          </mat-form-field>
          <table matSort mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
              <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="classname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Class </th>
              <td mat-cell *matCellDef="let element"> {{ element.classname }} </td>
            </ng-container>


            <!-- Name Column -->
            <ng-container matColumnDef="teachername">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Teacher </th>
              <td mat-cell *matCellDef="let element"> {{ element.teachername }} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="studentlimit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Limit </th>
              <td mat-cell *matCellDef="let element"> {{ element.studentlimit }} </td>
            </ng-container>

            <!-- action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" class="button"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button color="accent" ><mat-icon>delete</mat-icon></button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[3,5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </div>
    </app-card>
  </div>
</div>
