
@use "@angular/material" as mat;


// Theme Font
@import 'scss/themes/font/theme-font';

// main framework
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'scss/settings/custom-variables';
@import 'scss/settings/theme-variables';

// bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/utilities';
@import 'node_modules/bootstrap/scss/utilities/api';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import 'scss/themes/general';
@import 'scss/themes/generic';
@import 'scss/themes/minixs/function';

// icon
@import 'scss/themes/font/datta-icon';
@import 'scss/themes/font/feather';
@import 'scss/themes/font/fontawesome';
@import 'scss/themes/font/flaticon';

// component
@import 'scss/themes/component/component';

// theme layouts
@import 'scss/themes/layouts/menu-lite';
@import 'scss/themes/layouts/menu-ng';

// dashboard
@import 'scss/themes/pages/dashboard.scss';
@import 'scss/themes/pages/authentication';

@import 'scss/themes/chat/chat';

// custom
@import 'scss/themes/custom';

.highlight-date {
  background: red;
}

html {
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
    )
  );
}

.accent {
  @include mat.theme(
    (
      color: mat.$magenta-palette,
    )
  );
}

.warn {
  @include mat.theme(
    (
      color: mat.$red-palette,
    )
  );
}
.green {
  @include mat.theme(
    (
      color: mat.$green-palette,
    )
  );
}

.yellow {
  @include mat.theme(
    (
      color: mat.$yellow-palette,
    )
  );
}

.cyan {
  @include mat.theme(
    (
      color: mat.$cyan-palette,
    )
  );
}

.orange {
  @include mat.theme(
    (
      color: mat.$orange-palette,
    )
  );
}

.spring-green {
  @include mat.theme(
    (
      color: mat.$spring-green-palette,
    )
  );
}

.violet {
  @include mat.theme(
    (
      color: mat.$violet-palette,
    )
  );
}

.rose {
  @include mat.theme(
    (
      color: mat.$rose-palette,
    )
  );
}

html,
body
{
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
