<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Create Holidays" [options]="false">
      <form [formGroup]="forms" (ngSubmit)="onSubmit()">
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Title" #titles formControlName="title" name="title">
            <mat-hint align="end">
              {{titles.value.length}} / 20
            </mat-hint>
            <mat-error *ngIf="title.errors?.required">
              Title is required.
            </mat-error>
            <mat-error *ngIf="title.errors?.minlength">
              A minimum length of 2 characters is required.
            </mat-error>
            <mat-error *ngIf="title.errors?.maxlength">
              A maximum length of 20 characters is required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Description" #descriptions formControlName="description" name="description">
            <mat-hint align="end">
              {{descriptions.value.length}} / 100
            </mat-hint>
            <mat-error *ngIf="description.errors?.required">
              Description is required.
            </mat-error>
            <mat-error *ngIf="description.errors?.minlength">
              A minimum length of 5 characters is required.
            </mat-error>
            <mat-error *ngIf="description.errors?.maxlength">
              A maximum length of 100 characters is required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="example-form-field example-full-width">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="datepicker" #holidaysdate formControlName="holidaydate"
              name="holidaydate" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
            <mat-error *ngIf="date.errors?.required">
              Date is required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-sm-12" align="start">
            <button mat-raised-button color="warn" class="mat-button">
              Cancel
            </button>
            <button mat-raised-button color="primary">
              Save
            </button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>
