<app-card cardTitle="Lesson Form" [options]="false">
  <form [formGroup]="forms" (ngSubmit)="onSubmit()">

    <mat-form-field class="example-full-width">
      <mat-select name="courseid" #course placeholder="Select Course" formControlName="courseid">
        @for (course of courses; track course) {
          <mat-option [value]="course.id">{{course.title}}</mat-option>
          }
      </mat-select>
      <mat-error *ngIf="getcourse.errors?.required">
        Select course.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Title" #title formControlName="title" name="title">
      <mat-hint align="end">
        {{title.value.length}} / 40
      </mat-hint>
      <mat-error *ngIf="gettitle.errors?.required">
        Title is required.
      </mat-error>
      <mat-error *ngIf="gettitle.errors?.minlength">
        A minimum length of 2 characters is required.
      </mat-error>
      <mat-error *ngIf="gettitle.errors?.maxlength">
        A maximum length of 40 characters is required.
      </mat-error>
    </mat-form-field>



    <mat-form-field class="example-full-width">
      <input matInput placeholder="Description" #description formControlName="description" name="description">

      <mat-hint align="end">
        {{description.value.length}} / 100
      </mat-hint>
      <mat-error *ngIf="getdescription.errors?.minlength">
        A minimum length of 2 characters is required.
      </mat-error>
      <mat-error *ngIf="getdescription.errors?.maxlength">
        A maximum length of 100 characters is required.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" class="button">Cancel</button>
    <button mat-raised-button color="primary">Save</button>
  </form>
</app-card>
